# Flutter-specific
.DS_Store
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.gradle/
.idea/
android/.gradle/
android/app/proguard/
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
linux/flutter/generated_plugin_registrant.cc
macos/Flutter/ephemeral/
web/.dart_tool/
windows/flutter/generated_plugin_registrant.cc
web/flutter.css
coverage/

# User-specific
*.iml
*.ipr
*.iws
*.jks
*.keystore
*.class
*.swp
*~.nib
*.orig
*.rej
*.log
*.pid
*.seed
*.swo

# IntelliJ
.idea/

# VS Code
.vscode/
*.code-workspace

# Firebase and other secrets
*.key
*.json
*.env*